.color-box {
    width: 150px;
    height: 150px;
    border: 2px solid black;
}

.color-box-unknown {
    width: 150px;
    height: 150px;
    border: 2px solid black;
    background: repeating-conic-gradient(#808080 0 25%, #0000 0 50%) 50% / 40px 40px
}

.naked-link {
    text-decoration: none;
    color: inherit;
}

pre {
    background-color: whitesmoke;
}
